<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-  include('./partials/head')%>

<body>
	<!-- Header -->
	<%-  include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<form class="form" action="/products/add" method="post">
				
				<div class="input-container ic1">
				  <input id="name" class="input" type="text" placeholder="Título del producto" name="Titulo"/>
				</div>

				<div class="input-container ic1">
				  <input id="descripcion" class="input" type="descripcion" placeholder="Descripción" name="contrasenia"/>
				</div>

				<div class="input-container ic">
					<input type="hidden" name="idUsuario" value="<%= locals.usuario.id %>" 
				</div>

				<div class="input-container ic">
					<input id="image" class="input" type="url" name="image" placeholder="Imagen" />
				</div>

				<button type="submit" class="submit">Crear</button>
			<!-- <form action="/products/add" method="post">
				<label for="titulo">Título</label>
				<input type="text" name="titulo" placeholder="Ingrese el título del producto" required>
				<label for="descripcion">Descripción</label>
				<input type="text" name="descripcion" placeholder="Ingrese la descripción del producto" required>
				<button type="submit">Cargar producto</button>
			</form> -->
			<% if (error) { %>
				<p><%= error %></p>
			<% } %>
		</div>
	</div>


	<!-- footer -->
	<%-  include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>